<div id="messages" data-conversation-id="<%= @conversation.id %>">
    <% @conversation.messages.each do |message| %>
        <%= render 'messages/message', message: message %>
    <% end%>
</div>

<%= simple_form_for [ @conversation, @message ], remote: true do |f| %>

  <%= f.input :content, label: false, placeholder: "Message " %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>