<h1>Bookings Detail</h1>
<% @bookings.each do |booking|%>
Sports Name: <%= booking.sport.name %> <br>
Name of Players <br>
<% booking.users.each do |user|%>
<%= user.first_name %> <br>
<% end %>
Date: <%= booking.date %> <br>
Status:<%= booking.status %> <br>
<%= link_to 'Confirm', booking_path(booking, booking: { status: "confirm"}), method: "patch" %> - <%= link_to 'Reject', booking_path(booking, booking: { status: "reject"}), method: 'patch' %>
 <br>
<% end%>