<h1>Bookings Detail</h1>

<% @bookings.each do |booking| %>
<div class = "booking-container">

  <div class = "left-booking-details">
    <img src= <%= asset_path "logo.png" %> alt="placeholder" height="65px">
  </div>

  <div class = "middle-booking-details">
    <p> Player Name </p>
    <p> <%= booking.date.strftime("%d %b") %> </p>
    <p> <%= booking.sport.name %>  </p>
  </div>

  <div class = "right-booking-details">
    <%= link_to ('<i class="fas fa-comments"></i>').html_safe %>
  </div>
  <div class = "booking-status">
   <%= booking.status %>
  </div>

</div>
<% end %>

