<p id="booking-heading">Upcoming Bookings<p>

<% @bookings.each do |booking| %>
<div class = "booking-container">

  <div class = "left-booking-details">
    <img src= <%= asset_path "logo.png" %> alt="placeholder" height="65px">
  </div>

  <div class = "middle-booking-details">
    <p> <%= booking.users.last.first_name %> </p>
    <p> <%= booking.date.strftime("%d %b") %> </p>
    <p> <%= booking.sport.name %>  </p>
  </div>

  <div class = "right-booking-details">
    <%= link_to ('<i class="fas fa-comments"></i>').html_safe, booking_messages_path(booking) %>
  </div>
  <div class = "booking-status">
   <%= booking.status %>
   <% if booking.users.last == current_user %>
   <%= link_to '<i class="fas fa-check"></i>'.html_safe, booking_path(booking, booking: { status: "confirm"}), method: "patch", remote: true %> | <%= link_to '<i class="fas fa-times"></i>'.html_safe, booking_path(booking, booking: { status: "reject"}), method: 'patch', remote: true %>
   <% end%>
  </div>

</div>
<% end %>

