<div>
  <%= render 'shared/banner', sport: @sport %>
</div>

<div>
  <div class="how-box">
    <img src= <%= asset_path "logo.png" %> alt="placeholder" height="100px">
    <div class="card-text">
      <h1 class = "how-box-heading"> SEARCH THE SPORT YOU LOVE </h1>
      <p class = "how-box-body"> Just tap search, find the sport you love, and see who is available. </p>
    </div>
  </div>

  <div class="how-box">
    <div class="card-text">
      <h1 class = "how-box-heading"> FIND AVAILABLE PLAYERS </h1>
      <p class = "how-box-body"> There's bound to be someone who shares the same interest as you. </p>
    </div>
    <img src= <%= asset_path "logo.png" %> alt="placeholder" height="100px">
  </div>

  <div class="how-box">
    <img src= <%= asset_path "logo.png" %> alt="placeholder" height="100px">
    <div class="card-text">
      <h1 class = "how-box-heading"> ENJOY THE SPORT </h1>
      <p class = "how-box-body"> Enjoy the beautiful sport together. Afterwards, leave a review and who knows, maybe you'll play again! </p>
    </div>
  </div>
</div>

<div>
  <% @sports.each do |sport| %>
  <%= render 'shared/sports_card', sport: sport %>
  <% end %>
</div>

