<p><%= link_to 'Make Myself Available',  new_availability_path %></p>
<p><%= link_to 'List of Available Player', availabilities_path %></p>
<p><%= link_to 'Booking', bookings_path %></p>
<p><%= link_to 'Review', reviews_path %></p>

<%= form_tag sports_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a sport"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>