<!DOCTYPE html>
<html>
  <head>
    <title>Playmatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>


  </head>

  <body>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>

  </body>

    <nav>
      <ul class = "nav-display">
        <li class = "nav-link-style"> <%= link_to ('<i class="fas fa-home"></i>').html_safe, root_path %> </li>
        <li class = "nav-link-style"> <%= link_to ('<i class="fas fa-comments"></i>').html_safe %> </li>
        <li class = "nav-link-style"> <%= link_to ('<i class="fas fa-bell"></i>').html_safe %> </li>
        <li class = "nav-link-style"> <%= link_to ('<i class="fas fa-calendar-alt"></i>').html_safe, bookings_path %> </li>
      </ul>
    </nav>
</html>
